*{
    margin: 0px;
    box-sizing: border-box;
}


.calculator{
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 54, 54);
}



.display-box{
    width: 100vw;
    height: 20vh;
}
.display-box input{
    text-align: right;
    width: 100%;
    height: 80%;
    font-size: 4em;
}

.calc-body{
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.calc-body button{
    font-size: larger;
    height: 10vh;
    width: 80%;
    background-color: cadetblue;
}
.calc-body button:hover{
    font-size: larger;
    height: 10vh;
    width: 80%;
    background-color: #d33fd3;
} 